<h2>New Review</h2>

<% if @books.size >= 1 %>
<form action="/reviews/new" method="POST">
  <label for="book_id">Select a book:</label>
  <select name="book_id">
    <% @books.each do |book| %>
        <option value=<%= book.id %>><%= book.title %></option>
    <% end %>
  </select>
  <br>
  <br>
  <label for="stars">How many stars?:</label><br>
  <input type="radio" name="stars" value="0" checked = "checked"> 0 Stars<br>
  <input type="radio" name="stars" value="1"> 1 Star<br>
  <input type="radio" name="stars" value="2"> 2 Stars<br>
  <input type="radio" name="stars" value="3"> 3 Stars
  <br>
  <br>
  <label for="content">What did you think?:</label><br>
  <textarea name="content" rows="5" cols="40" style="resize:none;"></textarea>
  <br>
  <br>
  <button type="submit" value="submit">Submit Review</button>
</form>
<% else %>
  <p>You have no books to review</p>

<% end %>
